<launch>
 
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find TurtleAgent)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find TurtleAgent)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find TurtleAgent)/config/local_costmap_params.yaml" command="load" />
    <rosparam file="$(find TurtleAgent)/config/global_costmap_params.yaml" command="load" />
    <rosparam file="$(find TurtleAgent)/config/base_local_planner_params.yaml" command="load" />
    <rosparam file="$(find TurtleAgent)/config/recovery.yaml" command="load" />
  </node>

</launch>
